:root {
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --basic-neutral: #EEEEEE;
  --basic-dark: #888888;
  --basic-brown: #766357;
  --basic-text-grey: #333333;
  --basic-black: #000000;
  --hover-blue: #669EC0;
  --pressing-blue: #5496BD;
  --hover-brown: #604E43;
  --pressing-brown: #503E33;
  --special-grey: #F2F2F2;
  --special-darc-grey: #EBEBEB;
  --special-form-grey: #E5E5E5;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-text-grey);
  text-transform: uppercase;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page {
  height: 100%;
  background-color: var(--special-darc-grey);
}

.body-container {
width: 1200px;
margin: 0 auto;
box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
background-color: var(--basic-white);

}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.page-header {
  margin: 0px;
  padding: 0px;
}
.main-navigation {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  min-height: 56px;
  margin: 0px;
  padding: 0px 72px;
  position: relative;
}

.site-navigation  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width:100%;
  margin: 0px;
  padding: 0px;
}
.site-navigation li {
  list-style: none;
  margin: 0px;
  padding: 15px 0px;
  width: 20%;
}
.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}
.site-navigation li:nth-child(3),
.site-navigation li:last-child {
  text-align: right;
}
.site-navigation li:nth-child(2) {
  margin-left:28px;
}
.site-navigation li:nth-child(3) {
  margin-left: auto;
  margin-right: 28px;
}
.main-header-logo  {
  position: absolute;
  right: 50%;
  margin-right: -69px;
  top:0%;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 30%;
}

.site-navigation a:active {
  color: var(--basic-brown);
}

.title-section {
  text-align: center;
  background-image:url("../img/mask.png"),
                   url("../img/bgindex.jpg");
  background-repeat: no-repeat;
  background-position: center bottom ,center top;
  background-size: 100% 57px , cover;
  background-color:var(--basic-blue);
  margin: 0px;
  width: 1200px;
  height: 509px;
}

.title-section img {
  margin-top: 77.35px;
}
.reason-exceiience {
  display: grid;
  grid-template-rows: 1fr 1fr;

  width: 1200px;
  min-height:216px;
  text-align: center;
  margin: 0px;
  background-color: var(--basic-white);

}

.reason-exceiience h2 {
  font-size: 21px;
  line-height: 26px;
  margin-top: 42.5px;
}
.reason-exceiience p {
  margin-bottom: 51px;
}

.first-reason {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0px;
  padding: 0px;
  width: 1200px;
  height: 256px;
}
.first-reason-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-self: flex-start;
  margin: 0px;
  padding-top: 47px;
}
.first-reason-img {
  margin:0px;
}
.first-reason,
.second-reason {
  line-height: 21px;
  background-color: var(--basic-blue);
  text-align: center;
}

.reason-name {
  font-size: 21px;
  line-height: 21px;
  padding: 0px;
}

.reason-number,
.reason-description,
.reason-name {
  color: var(--basic-white);
}

.useful-recommendation {
margin: 0px;
padding: 0px;
width: 1200px;
height: 330px;
}

.recommendation-list {
 display: flex;
 justify-content: space-around;
 margin: 0px;
color: var(--basic-text-grey);
list-style: none;
text-align: center;
outline-offset: -5px;
}

.recommendation-name {
  font-size: 21px;
  line-height: 21px;
  font-style: bold;
}

.recommendation-item:nth-child(2) {
  font-size: 14px;
  line-height: 21px;
}

.recommendation-item {
  display: grid;
  grid-template-rows: m1fr min-content 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 60px;
}

.recommendation-name {
  align-self: center;
}
.reason-item {
  list-style: none;
  width: 400px;
  margin: 0px;
  padding: 0px;
}

.reason-list h2 {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.reason-list p {
  color: var(--basic-text-grey);
}

.second-reason {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 1200px;
  height: 256px;
  margin:0px;
  padding: 0px;

}
.second-reacon-text {
  order: 1;
  margin: 0px;
  padding: 0px;
}
.second-reacon-text h2 {
  padding-top: 50px;
  margin: 0px;
}
.second-reacon-text .reason-number {
  margin: 0px;
  padding-top: 25px;
  padding-bottom: 23px;
}
.other-reason {
  width: 1200px;
  min-height: 256px;
  margin: 0px;
  padding: 0px;
  background-color: var(--basic-neutral);
}
.reason-list {
  display: flex;
  margin:0px;
  padding: 0px;
}

.reason-list li {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
}
.reason-item h2 {
  padding-top: 47px;
  margin: 0px;
}
.reason-item p {
  margin: 0px;
}
.reason-item .reason-number {
  padding-top: 25px;
  padding-bottom: 23px;
}
.hotel-reservations {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  width: 1200px;
  height: 291px;
  margin: 0px;
  text-align: center;
}

.hotel-reservations h2 {
  text-align: center;
  color: var(--basic-black);
  font-size: 30px;
  line-height: 24px;
  margin-top: 58px;
}
.hotel-reservations .button {
  width: 568px;
  height: 86px;
}


.button,
.button-hover,
.search-open {
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  background-color: var(--basic-brown);
  border: none;
}

.button-hover:hover {
  background-color: var(--hover-brown);
  border: none;
  outline: none;
}

.page-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 120px;
  margin: 0px;
}

.contacts {
  align-self: center;
  margin: 0px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  font-style: Bold;
  text-align: center;
}

.contact-hashteg {
  margin: 0px;
  color: var(--basic-black);
}

.telephone {
  color: var(--basic-black);
}
.social-contact {
  margin: 0px;
}
.social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0px;
  padding: 0px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--hover-blue);
}

.social-button:active {
  background-color: var(--pressing-blue);
}

.social-button:active path {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  align-content: center;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.logo-link svg {
  margin-left: 8px;
  vertical-align: middle;
  width: 115px;
  height: 41px;
}
.logo-link path {
  fill: #231f20;
}

.logo-link:hover path {
  fill: #81b3d2;
}

.logo-link:active path {
  fill: #bdbbbc;
}

.search-open .button {
  position: relative;
}

.search-hotel-form {
  position: absolute;
  left: 50%;
  margin-left: -284px;
  width: 568px;
  height: 395px;
  background-color: var(--basic-white);
}
.search-form {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: flex-start;
  height: 395px;
  margin: 0px;
  padding-left: 55px;
  padding-right: 55px;
}

.date-part label {
  align-self: center;
  width: 121px;
}
.date-part input {
  margin-left: -9px;
  padding-left: 13px;
  width: 333px;
}
.date-part .calendar {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 21px;
  height: 22px;
}

.find {
  width: 458px;
  height: 58px;
  text-align: center;
}

.date-part {
  display: flex;
  justify-content: start;
  align-items: baseline;
  position: relative;
}
.date-field {
  align-self: center;
  width: 346px;
  height: 38px;
}
.number-of-people {outline: rgb(21, 26, 26);
  display: flex;
  justify-content: space-between;
  height: 38px;
  padding: 0px;
  margin: 0px;
  width: 458px;
}
.people-adult  label,
.people-children label {
  align-self: flex-end;
  padding-right: 24px;
  margin-right: 11px;
}
.people-adult  input,
.people-children input{
  width: 114px;
  height: 38px;
  text-align: center;
}
.people-adult {
  display: inline-block;
  position: relative;
}
.people-adult .minus {
  position: absolute;
  top: 18px;
  right: 91px;
}

.people-adult .plus {
  position: absolute;
  top: 14px;
  right: 14px;
}
.people-children {
  display: inline-block;
  position: relative;
}
.people-children .minus {
  position: absolute;
  top: 18px;
  left: 89px;
}
.people-children .plus {
  position: absolute;
  top: 14px;
  right: 15px;
}

.people-children .minus {
  position: absolute;
}
.people-children .plus {
  position: absolute;
}
.calendar path,
.minus rect,
.plus rect {
  fill: #a9a9a9;;
}
.calendar:hover path,
.calendar:focus path,
.minus:hover rect,
.minus:focus rect,
.plus:hover path,
.plus:focus path {
  fill: var(--basic-black);
}

.calendar:active path,
.minus:active rect,
.plus:active path{
  fill: #81b3d2;
}
.minus:hover {
  background-image: var(--basic-black);
}
.visually-hidden {
  display: none;
}
.catalog-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
  background-color: var(--basic-white);
}
.condition-form {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  height: 216px;
  margin: 0px;
}
.filter-option-list {
  list-style: none;
}
.infrastructure,
.type-of-housing {
  border: none;
}
.infrastructure li,
.type-of-housing li {
  margin-bottom: 25px;
}
.price-day{
  justify-self: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 3fr;
  height: 217px;
  outline:5px olive;
  border: none;
}
.table-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 317px;
  height: 36px;
  border: 2px solid;
  align-self: stretch;
  justify-self: center;
}
/*.min-price {

}*/
.max-price {
  align-self: center;
  justify-self: center;
}
.search-form label,
.search-form input {
  font: inherit;
  font-weight: 700;
  color: var(--basic-black);
}

.search-form input {
  background-color: var(--special-grey);
  border: none;
}

.search-form input:hover {
  background-color: var(--special-darc-grey);
  border: none;
}

.search-form input:focus {
  background-color: var(--basic-white);
  outline: none;
}
.search-form input:visited {
  background-color: var(--basic-white);
  outline: none;
}

.find {
  font: inherit;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  font-style: bold;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
}

.find:hover {
  background-color: var(--hover-blue);
  outline: none;
  border: none;
}
.find:focus {
  background-color: var(--hover-blue);
  outline: none;
  border: none;
}

.find:active {
  background-color: var(--pressing-blue);
  outline: none;
  border: none;
}

.conditions-list {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  background-image: url("../img/background2.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.conditions-list legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.price-day label {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.price-day p {
text-align: center;
}

.but-show {
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  border: 2px solid var(--basic-white);
  background: transparent;
  width: 137px;
  height: 36px;
  justify-items: center;
}
.found-results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--basic-white);
}


.found-results h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 73px;
}

.output-of-result {
  font-size: 12px;
  line-height: 18px;
}

.output-of-result h3 {
  color: var(--basic-black);
}
.sorting-imputs {
  list-style: none;
}

.sort-imput a {
  color: var(--basic-black);
  opacity: 30%;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--basic-blue);
}

.sort-imput a:hover {
  color: var(--basic-blue);
}

.sort-imput a:active {
  color: var(--basic-black);
  text-decoration: none;
  opacity: 100%;
}
.sort-imput a:target {
  color: var(--basic-blue);
  text-decoration: none;
}

.current a {
  color: var(--basic-blue);
  text-decoration: none;
}

.searched-list {
  margin: 0px;
  padding: 0px;
}

.searched-list li {
  list-style: none;
  margin-top: 0px;
  padding: 30px 72px;

}

.searched-item {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  outline: 5px var(--basic-black);
  margin: 0px;
}

.main-features {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  margin: 0px;
  padding: 0px;
}

.object-photo {
  width: 135px;
  height: 90px;
  margin-right: 30px;
  align-self: center;
}

.hotel-card {
  margin: 0px;
  padding: 0px;
}

.object-type,
.object-price {
  display: inline-block;
  padding: 0px;
  margin-top: 7px;
}

.object-type  {
  padding-top: 0px;
}

.object-link {
  padding: 0px;
  margin: 0px;
}
.object-name {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  margin: 0px;
  padding: 0px;
}

.searched-item h2:hover  {
  color: var(--basic-blue) ;
}

.searched-item h2:active {
  color: var(--basic-black);
  opacity: 30%;
}

.object-button {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 258px;
  margin: 0px;
}

.button-blue {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  width: 110px;
  height: 27px;
}

.button-blue a {
  text-align: center;
}
.button-blue:hover {
  background-color: var(--hover-blue);
}

.button-blue:active {
  background-color: var(--pressing-blue);
  color:  var(--basic-white) ;
}

.button-brown {
  font: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-brown);
  width: 142px;
}

.button-brown:hover {
  background-color: var(--hover-brown);
}

.button-brown:active {
  background-color: var(--pressing-brown);
}
.hotel-ratings {
 padding: 0px;
 margin-top: 52px;
}
.hotel-ratings p {
  margin: 0px;
  padding: 0px;
}

